comment "STM32H5 Peripherals"

menu "STM32H5 Peripheral Selection"

# These "hidden" settings determine if a peripheral option is available
# for the selected MCU


config STM32H5_HAVE_ETHERNET
	bool
	default n

config STM32H5_HAVE_PHY_POLLED
	bool
	default n

config STM32H5_HAVE_FDCAN1
	bool
	default n

config STM32H5_HAVE_FDCAN2
	bool
	default n

config STM32H5_HAVE_HSI48
	bool
	default n

config STM32H5_HAVE_ICACHE
	bool
	default n

config STM32H5_HAVE_LPUART1
	bool
	default n

config STM32H5_HAVE_SPI5
	bool
	default n

config STM32H5_HAVE_SPI6
	bool
	default n

config STM32H5_HAVE_USART1
	bool
	default n

config STM32H5_HAVE_USART2
	bool
	default n

config STM32H5_HAVE_USART3
	bool
	default n

config STM32H5_HAVE_UART4
	bool
	default n

config STM32H5_HAVE_UART5
	bool
	default n

config STM32H5_HAVE_USART6
	bool
	default n

config STM32H5_HAVE_UART7
	bool
	default n

config STM32H5_HAVE_UART8
	bool
	default n

config STM32H5_HAVE_UART9
	bool
	default n

config STM32H5_HAVE_USART10
	bool
	default n

config STM32H5_HAVE_USART11
	bool
	default n

config STM32H5_HAVE_UART12
	bool
	default n

config STM32H5_HAVE_USBFS
	bool
	default n

# These "hidden" settings are the OR of individual peripheral selections
# indicating that the general capability is required.

config STM32H5_USART
	bool
	default n

config STM32H5_ADC
	bool
	default n

config STM32H5_SPI
	bool
	default n

config STM32H5_SPI_DMA
	bool
	default n

config STM32H5_TIM
	bool
	default n

# These are the peripheral selections proper

config STM32H5_ADC1
	bool "ADC1"
	default n
	select STM32H5_ADC

config STM32H5_ADC2
	bool "ADC2"
	default n
	select STM32H5_ADC

config STM32H5_ETHMAC
	bool "Ethernet MAC"
	default n
	depends on STM32H5_HAVE_ETHERNET
	select NETDEVICES
	select ARCH_HAVE_PHY
	select STM32H5_HAVE_PHY_POLLED

config STM32H5_ICACHE
	bool "ICACHE"
	default n
	depends on STM32H5_HAVE_ICACHE

config STM32H5_QSPI1
	bool "QSPI1"
	default n

config STM32H5_USART2
	bool "USART2"
	default n
	depends on STM32H5_HAVE_USART2
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_USART3
	bool "USART3"
	default n
	depends on STM32H5_HAVE_USART3
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_UART4
	bool "UART4"
	default n
	depends on STM32H5_HAVE_UART4
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_UART5
	bool "UART5"
	default n
	depends on STM32H5_HAVE_UART5
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_USART6
	bool "USART6"
	default n
	depends on STM32H5_HAVE_USART6
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_UART7
	bool "UART7"
	default n
	depends on STM32H5_HAVE_UART7
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_UART8
	bool "UART8"
	default n
	depends on STM32H5_HAVE_UART8
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_USART10
	bool "USART10"
	default n
	depends on STM32H5_HAVE_USART10
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_USART11
	bool "USART11"
	default n
	depends on STM32H5_HAVE_USART11
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_UART9
	bool "UART9"
	default n
	depends on STM32H5_HAVE_UART9
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_UART12
	bool "UART12"
	default n
	depends on STM32H5_HAVE_UART12
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_USART1
	bool "USART1"
	default n
	depends on STM32H5_HAVE_USART1
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_LPUART1
	bool "LPUART1"
	default n
	depends on STM32H5_HAVE_LPUART1
	select ARCH_HAVE_SERIAL_TERMIOS
	select STM32H5_USART

config STM32H5_I2C
	bool
	default n

config STM32H5_I2C1
	bool "I2C1"
	default n
	select STM32H5_I2C

config STM32H5_I2C2
	bool "I2C2"
	default n
	select STM32H5_I2C

config STM32H5_I2C3
	bool "I2C3"
	default n
	select STM32H5_I2C

config STM32H5_I2C4
	bool "I2C4"
	default n
	select STM32H5_I2C

config STM32H5_SPI1
	bool "SPI1"
	default n
	select SPI
	select STM32H5_SPI

config STM32H5_SPI2
	bool "SPI2"
	default n
	select SPI
	select STM32H5_SPI

config STM32H5_SPI3
	bool "SPI3"
	default n
	select SPI
	select STM32H5_SPI

config STM32H5_SPI4
	bool "SPI4"
	default n
	depends on STM32H5_HAVE_SPI4
	select SPI
	select STM32H5_SPI

config STM32H5_SPI5
	bool "SPI5"
	default n
	depends on STM32H5_HAVE_SPI5
	select SPI
	select STM32H5_SPI

config STM32H5_SPI6
	bool "SPI6"
	default n
	depends on STM32H5_HAVE_SPI6
	select SPI
	select STM32H5_SPI

menu "STM32H5 Timer Selection"

config STM32H5_TIM1
	bool "TIM1"
	default n
	select STM32H5_TIM

config STM32H5_TIM2
	bool "TIM2"
	default n
	select STM32H5_TIM

config STM32H5_TIM3
	bool "TIM3"
	default n
	select STM32H5_TIM

config STM32H5_TIM4
	bool "TIM4"
	default n
	select STM32H5_TIM

config STM32H5_TIM5
	bool "TIM5"
	default n
	select STM32H5_TIM

config STM32H5_TIM6
	bool "TIM6"
	default n
	select STM32H5_TIM

config STM32H5_TIM7
	bool "TIM7"
	default n
	select STM32H5_TIM

config STM32H5_TIM8
	bool "TIM8"
	default n
	select STM32H5_TIM

config STM32H5_TIM12
	bool "TIM12"
	default n
	select STM32H5_TIM

config STM32H5_TIM13
	bool "TIM13"
	default n
	select STM32H5_TIM

config STM32H5_TIM14
	bool "TIM14"
	default n
	select STM32H5_TIM

config STM32H5_TIM15
	bool "TIM15"
	default n
	select STM32H5_TIM

config STM32H5_TIM16
	bool "TIM16"
	default n
	select STM32H5_TIM

config STM32H5_TIM17
	bool "TIM17"
	default n
	select STM32H5_TIM

endmenu # STM32H5 Timer Selection

config STM32H5_USBFS
	bool "USB Device"
	default n
	depends on STM32H5_HAVE_USBFS
	select USBDEV

endmenu
