menu "Ethernet MAC Configuration"
	depends on STM32H5_ETHMAC

config STM32H5_PHYADDR
	int "PHY address"
	default 0
	---help---
		The 5-bit address of the PHY on the board. Default: 0

config STM32H5_PHYINIT
	bool "Board-specific PHY Initialization"
	default n
	---help---
		Some boards require specialized initialization of the PHY before it can be used.
		This may include such things as configuring GPIOs, resetting the PHY, etc.
		If STM32H5_PHYINIT is defined in the configuration then the board specific logic
		must provide stm32_phyinitialize(); The STM32 Ethernet driver will call this
		function one time before it first uses the PHY.

config STM32H5_PHY_POLLING
	bool "Support network monitoring by polling the PHY"
	default n
	depends on STM32H5_HAVE_PHY_POLLED
	select ARCH_PHY_POLLED
	---help---
		Some boards may not have an interrupt connected to the PHY.
		This option allows the network monitor to be used by polling the PHY for status.

config STM32H5_MII
	bool "Use MII interface"
	default n
	---help---
		Support Ethernet MII interface.

choice
	prompt "MII clock configuration"
	default STM32H5_MII_EXTCLK
	depends on STM32H5_MII

config STM32H5_MII_MCO1
	bool "Use MC01 as MII clock"
	---help---
		Use MC01 to clock the MII interface.

config STM32H5_MII_MCO2
	bool "Use MC02 as MII clock"
	---help---
		Use MC02 to clock the MII interface.

config STM32H5_MII_EXTCLK
	bool "External MII clock"
	---help---
		Clocking is provided by external logic.

endchoice

config STM32H5_AUTONEG
	bool "Use autonegotiation"
	default y
	---help---
		Use PHY autonegotiation to determine speed and mode

config STM32H5_ETH_NRXDESC
	int "Number of RX descriptors"
	default 8
	---help---
		Number of RX DMA descriptors to use.

config STM32H5_ETH_NTXDESC
	int "Number of TX descriptors"
	default 4
	---help---
		Number of TX DMA descriptors to use.

config STM32H5_ETHFD
	bool "Full duplex"
	default n
	depends on !STM32H5_AUTONEG
	---help---
		If STM32H5_AUTONEG is not defined, then this may be defined to select full duplex
		mode. Default: half-duplex

config STM32H5_ETH100MBPS
	bool "100 Mbps"
	default n
	depends on !STM32H5_AUTONEG
	---help---
		If STM32H5_AUTONEG is not defined, then this may be defined to select 100 MBps
		speed.  Default: 10 Mbps

config STM32H5_PHYSR
	int "PHY Status Register Address (decimal)"
	depends on STM32H5_AUTONEG
	---help---
		This must be provided if STM32H5_AUTONEG is defined.  The PHY status register
		address may diff from PHY to PHY.  This configuration sets the address of
		the PHY status register.

config STM32H5_PHYSR_ALTCONFIG
	bool "PHY Status Alternate Bit Layout"
	default n
	depends on STM32H5_AUTONEG
	---help---
		Different PHYs present speed and mode information in different ways.  Some
		will present separate information for speed and mode (this is the default).
		Those PHYs, for example, may provide a 10/100 Mbps indication and a separate
		full/half duplex indication. This options selects an alternative representation
		where speed and mode information are combined.  This might mean, for example,
		separate bits for 10HD, 100HD, 10FD and 100FD.

config STM32H5_PHYSR_SPEED
	hex "PHY Speed Mask"
	depends on STM32H5_AUTONEG && !STM32H5_PHYSR_ALTCONFIG
	---help---
		This must be provided if STM32H5_AUTONEG is defined.  This provides bit mask
		for isolating the 10 or 100MBps speed indication.

config STM32H5_PHYSR_100MBPS
	hex "PHY 100Mbps Speed Value"
	depends on STM32H5_AUTONEG && !STM32H5_PHYSR_ALTCONFIG
	---help---
		This must be provided if STM32H5_AUTONEG is defined.  This provides the value
		of the speed bit(s) indicating 100MBps speed.

config STM32H5_PHYSR_MODE
	hex "PHY Mode Mask"
	depends on STM32H5_AUTONEG && !STM32H5_PHYSR_ALTCONFIG
	---help---
		This must be provided if STM32H5_AUTONEG is defined.  This provide bit mask
		for isolating the full or half duplex mode bits.

config STM32H5_PHYSR_FULLDUPLEX
	hex "PHY Full Duplex Mode Value"
	depends on STM32H5_AUTONEG && !STM32H5_PHYSR_ALTCONFIG
	---help---
		This must be provided if STM32H5_AUTONEG is defined.  This provides the
		value of the mode bits indicating full duplex mode.

config STM32H5_PHYSR_ALTMODE
	hex "PHY Mode Mask"
	depends on STM32H5_AUTONEG && STM32H5_PHYSR_ALTCONFIG
	---help---
		This must be provided if STM32H5_AUTONEG is defined.  This provide bit mask
		for isolating the speed and full/half duplex mode bits.

config STM32H5_PHYSR_10HD
	hex "10MBase-T Half Duplex Value"
	depends on STM32H5_AUTONEG && STM32H5_PHYSR_ALTCONFIG
	---help---
		This must be provided if STM32H5_AUTONEG is defined.  This is the value
		under the bit mask that represents the 10Mbps, half duplex setting.

config STM32H5_PHYSR_100HD
	hex "100Base-T Half Duplex Value"
	depends on STM32H5_AUTONEG && STM32H5_PHYSR_ALTCONFIG
	---help---
		This must be provided if STM32H5_AUTONEG is defined.  This is the value
		under the bit mask that represents the 100Mbps, half duplex setting.

config STM32H5_PHYSR_10FD
	hex "10Base-T Full Duplex Value"
	depends on STM32H5_AUTONEG && STM32H5_PHYSR_ALTCONFIG
	---help---
		This must be provided if STM32H5_AUTONEG is defined.  This is the value
		under the bit mask that represents the 10Mbps, full duplex setting.

config STM32H5_PHYSR_100FD
	hex "100Base-T Full Duplex Value"
	depends on STM32H5_AUTONEG && STM32H5_PHYSR_ALTCONFIG
	---help---
		This must be provided if STM32H5_AUTONEG is defined.  This is the value
		under the bit mask that represents the 100Mbps, full duplex setting.

config STM32H5_ETH_PTP
	bool "Precision Time Protocol (PTP)"
	default n
	---help---
		Precision Time Protocol (PTP).  Not supported but some hooks are indicated
		with this condition.

config STM32H5_RMII
	bool
	default !STM32H5_MII

choice
	prompt "RMII clock configuration"
	default STM32H5_RMII_EXTCLK
	depends on STM32H5_RMII

config STM32H5_RMII_MCO1
	bool "Use MC01 as RMII clock"
	---help---
		Use MCO1 to clock the RMII interface.

config STM32H5_RMII_MCO2
	bool "Use MC02 as RMII clock"
	---help---
		Use MCO2 to clock the RMII interface.

config STM32H5_RMII_EXTCLK
	bool "External RMII clock"
	---help---
		Clocking is provided by external logic.

endchoice # RMII clock configuration

config STM32H5_ETHMAC_REGDEBUG
	bool "Register-Level Debug"
	default n
	depends on DEBUG_NET_INFO
	---help---
		Enable very low-level register access debug.  Depends on
		CONFIG_DEBUG_FEATURES.

config STM32H5_NO_PHY
	bool "MAC has no PHY"
	default n

endmenu # Ethernet MAC Configuration
